:root {
  --primary-color: #ffb800;
  --secondary-color: #000000; 
  --background-color: #ffffff; 
  --text-color: #333333; 
  --gray-light: #f5f5f5;
  --gray-dark: #777777; 
  --border-color: #e0e0e0;
  --delete-button-color: #ff0000;

  --button-bg-primary: var(--primary-color);
  --button-text-primary: #ffffff;
  --button-bg-secondary: var(--secondary-color);
  --button-text-secondary: #ffffff;

  --font-family-primary: 'Inter', sans-serif;
  --font-family-secondary: 'Open Sans', sans-serif;
  --font-size-base: 16px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-xl: 24px;
  --font-size-xxl: 32px;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
}
