.event-details{
  padding: 16px;
  line-height: normal;
}

.event-details img{
  max-width: 500px;
  max-height: 600px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}
.event-details h1{
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}
.event-details p{
  font-size: 16px;
  margin-bottom: 10px;
}
.event-description {
  white-space: pre-line; /* Satır sonlarını ve boşlukları korur */
  word-break: break-word; /* Uzun kelimeleri satır sonunda böler */
  line-height: 1.2; /* Satır aralığı */
}
.participants-list{
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 8px;
  background-color: var(--background-color-light);
}

.event-details .participants-list img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.event-details .participants-list ul{
  list-style-type: none;
  padding: 0;
}
.event-details .participants-list li{
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--gray-dark);
}
.event-details .participants-list li span{
  font-weight: bold;
  color: var(--primary-color);
}




