.banner {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap:15px;
  text-align: center;
  color: white;
  padding: 20px;
  max-width: 1200px;
  margin-top:80px ;
  color: var(--secondary-color);
}


.banner h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner p {
  line-height: 25px;
  max-width: 700px;
  font-size: 18px;
  margin-bottom: 20px;
}

.banner-button {
  padding: 7px 10px;
  background-color: var(--primary-color);
  color: var(--button-text-primary);
  font-size: var(--font-size-base);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}

.banner-button:hover {
  opacity: 0.8;
}
