.cta {
  padding: 80px 0;
  text-align: center;
}

.cta h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta p {
  color: var(--gray-dark);
  max-width: 600px;
  margin: 0 auto 30px;
  font-size: var(--font-size-lg);
}
.cta .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cta .btn{
  padding: 15px 40px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .cta h2 {
    font-size: 28px;
  }
  
  .cta p {
    font-size: var(--font-size-base);
  }
}